body {
    background: darkgray;
    font-family: Arial, Helvetica, sans-serif;
    
}

.assignment {
    display: flex;
    padding: 10px;
    margin: 10px;
    background: lightgray;
    border-radius: 5px;
}

.assignment img{
    width: 275px;
    margin: 10px;
    border: 2px solid darkgray;
}

.assignment img:hover{
    border: 2px solid white;
}

h1{
    color: forestgreen;
    text-align: center;
    
}

a {
    text-decoration: none;
    color: forestgreen;
    font-size: large;

}

a:hover {
    color: white;
}

p{
    text-align: left;
    font-size: large;
}
